[Unit]
Description=Servidor de Temperatura

[Service]
Type=simple
User=wanderson
WorkingDirectory=/home/wanderson/Documentos/serv_temp/
ExecStart=/home/wanderson/Documentos/serv_temp/run_client_temp.sh

[Install]
WantedBy=multi-user.target
